@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Assignment2</h1>
    <p>Learn about our favorite fruits!</p>
    <p>Developed By Jing Zhao and Liyuan Luo</p>
</div>

